*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #6cf;
    padding: 20px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

h1{
    text-align: center;
    background-color: #6cf;
    padding: 20px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

main{
padding: 20px;
}

.tablitsa{
    width: 100%;
    background-color: #898bff;
    text-align: center;
}

.tablitsa td{
    padding: 15px;
    text-align: center;
}

.foto{
text-align: center;
padding: 15px;
height: 320px;
width: 300px;
}

.foto img{
    margin-bottom: 10px;
}

.foto h2{
    margin: 5px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

.foto p{
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.foto1{
    text-align: center;
    padding: 15px;
    background-color: white;
    height: auto;
    width: 300px;  
}
    
.foto1 img{
    margin-bottom: 10px; 
    width: 240px;
}
    
.foto1 h2{
    margin: 5px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}
    
.foto1 p{
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img{
    width: 300px;
}

a{
    color: inherit;
    text-decoration: inherit;
}

#textt{
    background-color: #898bff;
    text-align: center;
}